SUPABASE_URL=
SUPABASE_KEY=

#prism to supabase
#Look your host at Connection popup and ORM tab, but port was wrong
DATABASE_URL="postgresql://postgres.[YOUR_PROJECT_ID]:[YOUR-PASS]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres?pgbouncer=true"
# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.[YOUR_PROJECT_ID]:[YOUR-PASS]@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"